.pagination {
    @apply flex gap-1;
}
.pagination .pagination-item {
    height: 35px;
}
.pagination .pagination-item a,
.pagination .pagination-item span {
    @apply rounded-sm p-1 bg-bg-light border border-solid border-gray-100 shadow flex items-center justify-center h-full transition-colors duration-300 dark:border-gray-600;
}
.pagination .pagination-item.active span {
    @apply bg-blue-500 border-blue-500 text-white;
}
.pagination .pagination-item a:hover {
    @apply bg-blue-500 border-blue-500 text-white;
}
.pagination .pagination-item .icon {
    width: 16px;
    height: 16px;
}