{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section class="banner">
    <img src="{{ asset('assets/img/banner.webp')}}" alt="Image daccueil">
</section>
<make-appointment></make-appointment>
{% endblock %}
