{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section class="home__banner" style="background-image: url('{{ asset('assets/img/automobile.svg') }}');">
</section>
        <make-appointment></make-appointment>
{% endblock %}
